# Virtual environment directory
venv/

# Environment variables file
.env

# Python bytecode and cache directories
__pycache__/
*.pyc

# macOS specific files
.DS_Store

# Flask-specific build files if any
instance/
.flaskenv
